node-red
[
    {
        "id": "56cd38b2.8b3c78",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": ""
    },
    {
        "id": "13943814.ef68c8",
        "type": "http in",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "url": "/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 620,
        "wires": [
            [
                "ad4129c7.a893d8"
            ]
        ]
    },
    {
        "id": "5d7fdc30.f07c94",
        "type": "http response",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "ad4129c7.a893d8",
        "type": "function",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "func": "msg.payload={'temperature':global.get(\"temperature\"), 'humidity':global.get(\"humidity\"), 'smoke':global.get(\"smoke\"), 'real':global.get(\"real\")}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 620,
        "wires": [
            [
                "5d7fdc30.f07c94"
            ]
        ]
    },
    {
        "id": "b2220c84.86e07",
        "type": "ibmiot out",
        "z": "56cd38b2.8b3c78",
        "authentication": "apiKey",
        "apiKey": "59b69771.932928",
        "outputType": "cmd",
        "deviceId": "HomeIOT",
        "deviceType": "NodeMCU",
        "eventCommandType": "home",
        "format": "String",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 570,
        "y": 820,
        "wires": []
    },
    {
        "id": "9576f714.964498",
        "type": "ui_button",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "group": "97688878.44b228",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "lighton",
        "payloadType": "str",
        "topic": "",
        "x": 350,
        "y": 780,
        "wires": [
            [
                "b2220c84.86e07"
            ]
        ]
    },
    {
        "id": "f85c2dbe.192f1",
        "type": "ui_button",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "group": "97688878.44b228",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "lightoff",
        "payloadType": "str",
        "topic": "",
        "x": 350,
        "y": 880,
        "wires": [
            [
                "b2220c84.86e07"
            ]
        ]
    },
    {
        "id": "a8b9318b.7f01e",
        "type": "ibmiot in",
        "z": "56cd38b2.8b3c78",
        "authentication": "apiKey",
        "apiKey": "59b69771.932928",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "HomeIOT",
        "applicationId": "",
        "deviceType": "MyDevice",
        "eventType": "Data",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "3671308c.41e25",
                "de15bc7d.25e43",
                "5f79b965.9a6328",
                "27fd8e2a.485fa2"
            ]
        ]
    },
    {
        "id": "db741117.46d6e",
        "type": "debug",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "3671308c.41e25",
        "type": "function",
        "z": "56cd38b2.8b3c78",
        "name": "Temperature",
        "func": "global.set('temperature',msg.payload.temperature);\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "db741117.46d6e",
                "193052e1.58aedd"
            ]
        ]
    },
    {
        "id": "5f79b965.9a6328",
        "type": "function",
        "z": "56cd38b2.8b3c78",
        "name": "Humidity",
        "func": "global.set('humidity',msg.payload.humidity);\nmsg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 500,
        "wires": [
            [
                "db741117.46d6e",
                "aa42a9a.d120458"
            ]
        ]
    },
    {
        "id": "193052e1.58aedd",
        "type": "ui_gauge",
        "z": "56cd38b2.8b3c78",
        "name": "Temperature",
        "group": "97688878.44b228",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°F",
        "format": "{{value}}",
        "min": "-10",
        "max": "130",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "aa42a9a.d120458",
        "type": "ui_gauge",
        "z": "56cd38b2.8b3c78",
        "name": "Humidity",
        "group": "97688878.44b228",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "9428950f.e5a0d8",
        "type": "http in",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "url": "/cmd",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 1020,
        "wires": [
            [
                "dc435b0.44640a8"
            ]
        ]
    },
    {
        "id": "4e45d9a2.440cc8",
        "type": "http response",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 1020,
        "wires": []
    },
    {
        "id": "dc435b0.44640a8",
        "type": "function",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "func": "msg.payload = msg.payload.command\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 1020,
        "wires": [
            [
                "4e45d9a2.440cc8",
                "b2220c84.86e07",
                "ed50055d.b64118"
            ]
        ]
    },
    {
        "id": "ed50055d.b64118",
        "type": "debug",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 900,
        "wires": []
    },
    {
        "id": "de15bc7d.25e43",
        "type": "function",
        "z": "56cd38b2.8b3c78",
        "name": "Smoke",
        "func": "global.set('smoke',msg.payload.smoke);\nmsg.payload = msg.payload.smoke;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 360,
        "wires": [
            [
                "db741117.46d6e"
            ]
        ]
    },
    {
        "id": "27fd8e2a.485fa2",
        "type": "debug",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "4bd94765.163a48",
        "type": "visual-recognition-v3",
        "z": "56cd38b2.8b3c78",
        "name": "test",
        "vr-service-endpoint": "https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/49299e1d-2057-47ca-ad10-8f694727e7ce",
        "image-feature": "classifyImage",
        "lang": "en",
        "x": 490,
        "y": 1240,
        "wires": [
            [
                "cebf3ec1.eed39",
                "981299da.5e5c38"
            ]
        ]
    },
    {
        "id": "a77e6397.0dbb5",
        "type": "function",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "func": "msg.params={\"classifier_ids\":\"DefaultCustomModel_1698588367\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 345,
        "y": 1104,
        "wires": [
            [
                "4bd94765.163a48"
            ]
        ]
    },
    {
        "id": "cebf3ec1.eed39",
        "type": "function",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "func": "msg.payload = msg.result.images[0].classifiers[0].classes\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 456,
        "y": 1349,
        "wires": [
            [
                "f0c82f3.6c970d",
                "f726ae6d.33be5",
                "149bcbda.4e9b04"
            ]
        ]
    },
    {
        "id": "f0c82f3.6c970d",
        "type": "ui_template",
        "z": "56cd38b2.8b3c78",
        "group": "97688878.44b228",
        "name": "",
        "order": 1,
        "width": "26",
        "height": "11",
        "format": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Visual Recognition</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n   <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"></script>\n  <style>\n  .bg-light {\n    background-color: #00838F!important;\n\t}\n\th4 {\n    color: #fff;\n\t}\n\t\n\t.custom-file {\n\t\tmargin-bottom: 14px;\n\t\t}\n\t\t\n\t.table .thead-dark th {\n\t\tcolor: #fff;\n\t\tbackground-color: #307d76;\n\t\tborder-color: #307d76;\n\t}\n\th5{\n\t    text-align: center;\n\t\t    color: #bd6666;\n\t\t}\n\t\t.text-center {\n\t\t  text-align: center;\n\t\t}\n\t.imgdiv\n\t{\n\t\talign:center;\n\t}\n\t</style>\n</head>\n<body>\n\t<nav class=\"navbar navbar-expand-sm bg-light\">\n\t\t<div class=\"justify-content-center\">\n\t\t\t<h4 class=\"text-center\">Object Detection using Visual Recognition </h4>\n\t\t</div>\n\t</nav>\n\t<br><br>\n    <div class=\"container\">\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\n\t\t\t\t\t<div class=\"custom-file\">\n\t\t\t\t\t\n\t\t\t\t\t\t<input type=\"file\" name=\"pic\" accept=\"image/*\" onchange=\"readURL(this);\" class=\"custom-file-input\" id=\"customFile\">\n\t\t\t\t\t\t\n\t\t\t\t\t\t<label class=\"custom-file-label\" for=\"customFile\">Choose file</label>\n\t\t\t\t\t</div>\n\t\t\t\t\t<br>\n\t\t\t\t\t<div class=\"imgdiv\">\n\t\t\t\t\t\t<img src=\"#\" id=\"blah\" class=\"rounded\" alt=\"Selected Image\">\n\t\t\t\t\t</div>\n\t\t\t\t\t<!--<md-button ng-click=\"send({payload:action()})\">\n\t\t\t\t\t\tPredict\n\t\t\t\t\t</md-button>-->\n\t\t\t\t\t<button type=\"submit\" ng-click=\"send({payload:action()})\" class=\"btn btn-success\">Submit</button>\n\t\t\t\t\n\t\t\t\t\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t</div>\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t<h5> The Recognised Objects  </h5>\n\t\t\t<table class=\"table\">\n\t\t\t\t<thead class=\"thead-dark\">\n\t\t\t\t  <tr>\n\t\t\t\t\t<th>Class</th>\n\t\t\t\t\t<th>Score</th>\n\t\t\t\t  </tr>\n\t\t\t\t</thead>\n\t\t\t\t<tbody id=\"scoretable\">\n\t\t\t\t</tbody>\n\t\t\t  </table>\n\t\t\t  \n\t\t\t </div>\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t</div>\t\n</body>\n</html>\n<script>\nvar x=\"\";\n    function readURL(input) {\n        if (input.files && input.files[0]) {\n            var reader = new FileReader();\n\n            reader.onload = function (e) {\n                $('#blah')\n                    .attr('src', e.target.result)\n                    .width(150)\n                    .height(200);\n            };\n\n            reader.readAsDataURL(input.files[0]);\n            x= input.files[0]\n\n            \n            \n\n        }\n    }\n    function getdata(data)\n\t{\n\t\t var html = '';\n            if(data != 0)\n\t\t\t{\n\t\t\t\t$.each(data, function(i){\n\t\t\t\tvar row = data[i];\n\t\t\t\tconsole.log(row);\n\t\t\t\thtml += '<tr>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.class;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.score;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '</tr>';\n\t\t\t});\n\t\t\t}\n\t\t\telse\n\t\t\t\thtml+=\"<div>No Data</div>\";\n\t\t\t$('#scoretable').html(html);\n\t}\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n            getdata(data);\n\n        });\n    })(scope);\n    \n    \n// or overwrite value in your callback function ...\nthis.scope.action = function() { return x; }\n\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 269,
        "y": 1218,
        "wires": [
            [
                "a77e6397.0dbb5"
            ]
        ]
    },
    {
        "id": "f726ae6d.33be5",
        "type": "debug",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1460,
        "wires": []
    },
    {
        "id": "149bcbda.4e9b04",
        "type": "function",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "func": "if(msg.payload[0].class == \"training_real\"){\n    global.set('real', msg.payload[0].score);\n}\n\nif(msg.payload[0].class == \"training_fake\"){\n    global.set('real', 1 - msg.payload[0].score);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 1360,
        "wires": [
            [
                "60725f08.3e247"
            ]
        ]
    },
    {
        "id": "60725f08.3e247",
        "type": "debug",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 1360,
        "wires": []
    },
    {
        "id": "981299da.5e5c38",
        "type": "debug",
        "z": "56cd38b2.8b3c78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1200,
        "wires": []
    },
    {
        "id": "59b69771.932928",
        "type": "ibmiot",
        "z": "",
        "name": "",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "97688878.44b228",
        "type": "ui_group",
        "z": "",
        "name": "SmartHome",
        "tab": "583386c3.e34138",
        "order": 1,
        "disp": true,
        "width": "26",
        "collapse": false
    },
    {
        "id": "583386c3.e34138",
        "type": "ui_tab",
        "z": "",
        "name": "SmartDash",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]